body {
  background-color: black !important;
}

h1,
p {
  color: white !important;
  text-align: center;
}

.nav-link {
  color: gray !important;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: white !important;
}